# gradle

.gradle/
build/
out/
classes/
gradle/wrapper/gradle-wrapper.jar

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# make
dist/
