name: Publish Release

on:
  release:
    types:
      - published

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: Setup gradlew
        run: gradle wrapper
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build targets with Gradle
        run: make
      - name: Upload assets to GitHub
        uses: AButler/upload-release-assets@v2.0
        with:
          files: "dist/*;LICENSE"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
